<h2 class="well">Add a Category</h2>

<p>Add a new category here:</p>

<form action="/categories" method="post">
	<label for="name">Category name:</label>
	<input id="name" name="name" type="text">
	<button type="submit" class="btn btn-success">Add Category</button>
</form>
