<h2 class="well">$category.getName()</h2>
<h3>Here are all of the tasks in this category:</h3>

<ol>
	#foreach ($task in $category.getTasks())
			<li><h3>$task.getDescription()</h3></li>
	#end
</ol>

		<a href="/tasks/new">Add Another Task</a>
		<a href="/">home</a>
