

<p></p>
<div class="jumbotron">
	<h1>Manage Your Tasks</h1>
	<p>This is a customizable personal task list. You may enter the categories of potential
	tasks, such as "pet care", and then add tasks to those individual lists.</p>
	<p><a class="btn btn-primary btn-lg" href="/categories" role="button">View Category List</a></p>
	<p><a class="btn btn-success btn-lg" href="/categories/new" role="button">Add a New Category</a></p>
</div>
