<h2 class="well">Manage Your Tasks</h2>

<table>
  <tr>
    <td>
	  <form action="/categories" id="viewBtn" style="padding:0px10px0px0px;">
		<button type="submit" class="btn btn-success">View Category List</button>
	  </form>
	</td>
	<td>
	  <form action="/categories/new">
		<button type="submit" class="btn btn-info">Add a New Category</button>
	  </form>
	</td>
  </tr>
</table>