<h1 class="well">Add a task to this category</h1>

<form action="/task" method="post">
	<input id="categoryId" name="categoryId" type="hidden" value="$category.getId()">

	<div class="form-group">
		<label for="description">Task Description</label>
		<input id="description" name="description" type="text" class="form-control">
	</div>

	<button type="submit" class="btn btn-success">Add</button>
	<a href="/tasks/new">Add Another Task</a>

</form>
